
# Build artifacts
minishell
obj/
*.o
*.out

# libft build
libft/libft.a

# Editor and OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test artifacts
tester_output/

# Misc
.cache
tags


AGENT.md
CLAUDE.md
.env
logs/
.claude
minishellv10.pdf